.row
  %article.col-md-12
    = link_to "New Todo", new_task_path
  %article.card.col-md-4{style: "border: none"}
    .card-header.text-xs-center
      %h1.card-title 
        = fa_icon('list-alt')
        Todos
    = render @tasks_todo, style: 'warning'

  %article.card.col-md-4{style: "border: none"}
    .card-header.text-xs-center
      %h1.card-title 
        = fa_icon('building-o')
        Doing
    = render @tasks_doing, style: 'danger'

  %article.card.col-md-4{style: "border: none"}
    .card-header.text-xs-center
      %h1.card-title 
        = fa_icon('check-square-o')
        Done
    = render @tasks_done, style: 'success'