%h1 Todos

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    - @tasks_todo.each do |task|
      %tr
        %td= task.state
        %td= task.content
        %td= task.slug
        - if task.private == true
          %td= button_to "#{task.private}", change_task_path(task, private: false), method: :put
        - else
          %td= button_to "#{task.private}", change_task_path(task, private: true), method: :put
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= button_to 'Mark as Doing', change_task_path(task, state: 'doing'), method: :put

%br

= link_to 'New Task', new_task_path


%h1 Doing

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    - @tasks_doing.each do |task|
      %tr
        %td= task.state
        %td= task.content
        %td= task.slug
        - if task.private == true
          %td= button_to "#{task.private}", change_task_path(task, private: false), method: :put
        - else
          %td= button_to "#{task.private}", change_task_path(task, private: true), method: :put
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= button_to 'Mark as Todo', change_task_path(task, state: 'to_do'), method: :put
        %td= button_to 'Mark as Done', change_task_path(task, state: 'done'), method: :put

%br

%h1 Done

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    - @tasks_done.each do |task|
      %tr
        %td= task.state
        %td= task.content
        %td= task.slug
        - if task.private == true
          %td= button_to "#{task.private}", change_task_path(task, private: false), method: :put
        - else
          %td= button_to "#{task.private}", change_task_path(task, private: true), method: :put
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= button_to 'Mark as Doing', change_task_path(task, state: 'doing'), method: :put

%br