%p#notice= notice

%p
  %b User:
  = @task.user
%p
  %b Content:
  = @task.content
%p
  %b Slug:
  = @task.slug
%p
  %b Private:
  = @task.private

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
