.jumbotron.jumbotron-fluid
  .container
    %h1.display-3 PublicTodos
    %p.lead This is a todo app, 'No!!!', this is a public todos app

    %hr.m-y-md

    %p 
      = link_to 'Sign Up', new_user_registration_path
      to create your public and private todos.

    %p.lead
      = link_to 'Sign In', new_user_session_path, class: "btn btn-success btn-lg", role: 'button'

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')

    .card-block
      %h4.card-title 
        Card title
        -# Social shares button
        %a.activator.pull-right
          %i.fa.fa-share-alt

      %hr

      -# Text

      %p.card-text 
        Some quick example text to build on the card title and make up the bulk of   the card's content
        = link_to 'Read More', '', class: "link-text fa fa-chevron-right"

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')

    .card-block
      %h4.card-title 
        Card title
        -# Social shares button
        %a.activator.pull-right
          %i.fa.fa-share-alt

      %hr

      -# Text

      %p.card-text 
        Some quick example text to build on the card title and make up the bulk of   the card's content
        = link_to 'Read More', '', class: "link-text fa fa-chevron-right"

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')

    .card-block
      %h4.card-title 
        Card title
        -# Social shares button
        %a.activator.pull-right
          %i.fa.fa-share-alt

      %hr

      -# Text

      %p.card-text 
        Some quick example text to build on the card title and make up the bulk of   the card's content
        = link_to 'Read More', '', class: "link-text fa fa-chevron-right"