.jumbotron.jumbotron-fluid
  .container
    %h1.display-3 
      %i.fa.fa-sun-o
      PublicTodos
    %p.lead This is a todo app, 'No!!!', this is a public todos app

    %hr.m-y-md

    %p 
      = link_to 'Sign Up', new_user_registration_path
      to create your public and private todos.

    %p.lead
      = link_to 'Sign In', new_user_session_path, class: "btn btn-success btn-lg", role: 'button'

.container
  .row
    .card-columns
      - @tasks.each do |task|
        .card.card-secondary
          .card-block
            %h2.card-title.text-left
              Created by
              = link_to task.user, task.user
              = time_ago_in_words(task.created_at)
              ago

          
            %p.card-text
              = truncate task.content, length: 100
              = link_to fa_icon('eye'), task