%h1 Pages#home
%p Find me in app/views/pages/home.html.haml

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')
      %a{href: ''}
        .mask
      %a.btn-floating.btn-action
        %i.fa.fa-chevron-right

      -# Social shares button
      %a.activator
        %i.fa.fa-share-alt

    .card-block
      %h4.card-title Card title

      %hr

      -# Text

      %p.card-text Some quick example text to build on the card title and make up the bulk of   the card's content
      = link_to 'Read More', '', class: "link-text fa fa-chevron-right"

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')
      %a{href: ''}
        .mask
      %a.btn-floating.btn-action
        %i.fa.fa-chevron-right

      -# Social shares button
      %a.activator
        %i.fa.fa-share-alt

    .card-block
      %h4.card-title Card title

      %hr

      -# Text

      %p.card-text Some quick example text to build on the card title and make up the bulk of   the card's content
      = link_to 'Read More', '', class: "link-text fa fa-chevron-right"

.col-md-4
  -# Card Light
  .card
    -# Card image
    .view.overlay.hm-white-slight
      = image_tag('http://mdbootstrap.com/images/reg/reg%20(59).jpg', class: 'img-fluid', alt: '')
      %a{href: ''}
        .mask
      %a.btn-floating.btn-action
        %i.fa.fa-chevron-right

      -# Social shares button
      %a.activator
        %i.fa.fa-share-alt

    .card-block
      %h4.card-title Card title

      %hr

      -# Text

      %p.card-text Some quick example text to build on the card title and make up the bulk of   the card's content
      = link_to 'Read More', '', class: "link-text fa fa-chevron-right"